<div class= 'container'>
  <footer class = 'footer'>
    <small>
      <a href = 'https://www.google.pl'> something random &copy;</a>
    </small>
    
    <nav>
      <ul>
        <li>test1</li>
        <li>test2</li>
      </ul>
    </nav>
    
  </footer>
</div>